<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">

<suite name="OrangeHRM Automation Suite">



    <listeners>
        <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
    </listeners>

    <test name="Orange HRM Test Suite">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.HomePageTest"/>
            <class name="tests.AdminPageTest"/>
            <class name="tests.AddEmployeePageTest"/>
        </classes>
    </test>
</suite>
